<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>停车场数据</title>
<link rel="stylesheet" href="/park/css/bootstrap.min.css"/>              
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=c7A2jm3enN7T0s5V8QbDHx85"></script>       
<script type="text/javascript" src="http://api.map.baidu.com/library/TextIconOverlay/1.2/src/TextIconOverlay_min.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/library/MarkerClusterer/1.2/src/MarkerClusterer_min.js"></script>            		
<script type="text/javascript" src="http://echarts.baidu.com/build/dist/echarts-all.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/library/Heatmap/2.0/src/Heatmap_min.js"></script>
<script type="text/javascript" src="/parkinfo/script/utility.js"></script>
<script type="text/javascript" src="/parkinfo/script/parkBigData.js?v=1.1"></script>
<script type="text/javascript" src="/parkinfo/script/parkBigDataAngular.js?v=1.1"></script>
</head>
<body>
	<div class="content-wrapper">
		<section class="content-header">
          <h1>
			停车大数据
            <small></small>
          </h1>
      
    	</section>
        <div class="row"  style="margin-top:20px;min-width:700px" >
            <div class="col-md-6" style="margin-right:-10px">
                <div class="panel panel-success" >
                    <div class="panel-heading">
                        <h3 class="panel-title">智慧停车场数全国分布图</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row" id="container4" style="width:100%;height:400px;"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6"  ng-app="parkBigDataApp" ng-controller="parkBigDataCtrl">
                <div class="panel panel-info" style="margin-left:-25px;">
                    <div class="panel-heading">
                        <h3 class="panel-title">停车场实时数据</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row" style="width:100%;height:400px;">										
							<table class="table table-hover" style="font-size:12px;vertical-align: middle;">					        								
							<tr>
								<th style=" text-align: center;vertical-align: middle;"><span>车牌号</span></th>
								<th style=" text-align: center;vertical-align: middle;"><span>车位号</span></th>
								<th style=" text-align: center;vertical-align: middle;"><span>动作</span></th>
								<th style=" text-align: center;vertical-align: middle;"><span>时间</span></th>
								<th style=" text-align: center;vertical-align: middle;"><span>是否收费</span></th>
								<th style=" text-align: center;vertical-align: middle;"><span>费用</span></th>
								<th style=" text-align: center;vertical-align: middle;"><span>停车场</span></th>
							</tr>
								<tr  ng-repeat = "item in items" ng-class="{true:'success'}[item.isNew]">				          						     
				          		<td ng-bind="item.cardNumber"></td>	
								<td ng-bind="item.portNumber"></td>	
								<td ng-if="item.exitDate==undefined" >入场</td>
								<td ng-if="item.exitDate!=undefined" >出场</td>
								<td ng-if="item.exitDate==undefined" ng-bind="item.entranceDate"></td>
								<td ng-if="item.exitDate!=undefined" ng-bind="item.exitDate"></td>
				          		<td ng-if="item.paidCompleted==true" class="success">已收费</td>
								<td ng-if="item.paidCompleted==false" class="warning">未收费</td>				          	
				          		<td ng-if="item.paidCompleted==true" class="warning">收费:￥{{item.chargeMoney}}</td>	
								<td ng-if="item.paidCompleted==false">计费:￥{{item.chargeMoney}}</td>	
								<td ng-bind="item.parkDesc"></td>
								</tr>
								
                            </table>
						
						</div>
                    </div>
                </div>
            </div>
        </div>
     </div>
     <script >
$(function() {
                $.fn.platformShow.initial();
            });
</script>
</body>
</html>