
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
    content="width=device-width, initial-scale=1">
    <title> 登录 </title>
    <link rel="stylesheet" href="/parkinfo/css/amazeui.min.css">
    <link rel="stylesheet" href="/parkinfo/css/loginmain.css">
</head>
<body id="singIn">
<div class="my-container float-fix">
    <div class="am-u-sm-offset-4 am-u-sm-4">
        <img class="am-img-responsive" alt="140*140" src="/parkinfo/images/loginlogo.png">
    </div>

    <div class="am-u-sm-12 am-u-md-10 am-u-md-offset-1 am-u-lg-6 am-u-lg-offset-3 am-u-end"> <!-- 此处不足12分，不加end会右浮动 -->
        <form method="post" action="/parkinfo/authority" class="am-form am-form-horizontal">
            <div class="am-form-group am-form-icon">
                <div>
                    <i class=""></i>
                    <input type="text" name="username" id="username" class="am-form-field" placeholder="请输入用户名">
                </div>
            </div>

            <div class="am-form-group am-form-icon">
                <i class=""></i>
                <input type="password" name="password" id="password" class="am-form-field" placeholder="请输入密码">
            </div>

            <div class="am-form-group am-form-inline">
                <div class="am-u-sm-5">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> 记住密码
                        </label>
                    </div>
                </div>
                <div class="am-u-sm-offset-2 am-u-sm-5">
                    <label style="float: right;">
                        <a href="javascript:void(0)"> 忘记密码？ </a>
                    </label>
                </div>
            </div>

            <div class="am-form-group">
                <div>
                    <button type="submit" class="am-btn am-btn-default am-btn-block"> 登录 </button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row" id="footer" style="padding-left:30%">
        <div class="col-md-12">
            <p>
            2016 © 江苏九比特信息系统有限公司  
            <a href="#"> 隐私政策 </a>
            | 
            <a href="#"> 服务条款 </a>
            |
            <a href="http://www.miitbeian.gov.cn"
                target="_blank"> 苏ICP备15036890号 </a>
            </p>
        </div>
    </div>
</body>
</html>
