<script src="/parkinfo/js/jquery.min.js"></script>
<link href="/parkinfo/css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="/parkinfo/dist/css/AdminLTE.css">
<link rel="stylesheet" href="/parkinfo/dist/css/skins/skin-blue.min.css">
<script src="/parkinfo/angular/angular.min.js"></script>
<script src="/parkinfo/angular/angular-animate.min.js"></script>
<script src="/parkinfo/angular/angular-cookies.min.js"></script>
<script src="/parkinfo/angular/angular-ui-router.min.js"></script>
<script src="/parkinfo/angular/ocLazyLoad.min.js"></script>
<script src="/parkinfo/angular/ui-bootstrap-tpls.min.js"></script>
<!-- <link href="/parkinfo/datepicker/datepicker.css" rel="stylesheet" /> -->
<link href="/parkinfo/css/xx_list_admin.css" rel="stylesheet" />
<script src="/parkinfo/js/utility.js"></script>
<script src="/parkinfo/js/bootstrap.min.js"></script>
<!-- <script src="/parkinfo/script/datepicker.js"></script> -->
<script src="/parkinfo/script/tm.pagination.js"></script>
<script src="/parkinfo/script/reconciliation.js?v=1.4"></script>
<script src="https://cdn.bootcss.com/moment.js/2.18.1/moment-with-locales.min.js"></script>
<link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css"
rel="stylesheet">
<script src="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>

<style>
.page-list .pagination {
	float: left;
}

.page-list .pagination span {
	cursor: pointer;
}

.page-list .pagination .separate span {
	cursor: default;
	border-top: none;
	border-bottom: none;
}

.page-list .pagination .separate span:hover {
	background: none;
}

.page-list .page-total {
	float: left;
	margin: 25px 20px;
}

.page-list .page-total input, .page-list .page-total select {
	height: 26px;
	border: 1px solid #ddd;
}

.page-list .page-total input {
	width: 40px;
	padding-left: 3px;
}

.page-list .page-total select {
	width: 50px;
}
</style>

<div class="" ng-app="feeDetailApp" ng-controller="feeDetailCtrl">
	<section class="content-header">
		<h1>
			财务对账 <small></small>
		</h1>
	</section>
	<section class="content">
		<div class="row">
			<div class="col-xs-12">
				<div class="box">
					<div class="box-body">
						<div class="panel panel-default">
							<div class="panel-body">

								<div class="panel panel-primary">
									<div class="panel-heading">
										<h3 class="panel-title">根据时间段与停车场导出Excel记录</h3>
									</div>
									<div class="panel-body">

										<div class="row">
											<div class="col-md-1">
												<label for="date" class="control-label"
													style="float: right; padding-top: 10px;">单日:</label>
											</div>

											<div class="col-md-3">
												<input type="text" id="date" ng-model="searchDate"
													class="form-control date" >
											</div>
											<div class="col-md-4">
												<select id="park-select" class="form-control"
													style="font-weight: bold; width: 222px; ">
													#foreach( $park in $parks)
													<option value=$park.id>$park.name</option> #end
												</select>
											</div>
											<div class="col-md-2" style="margin-left:-80px;">
												<button id="excelBtn" ng-click="getExcelByParkAndDay()"
													type="button" class="btn bg-purple">导出</button>
											</div>
											<div class="col-md-1" hidden>
												<button ng-click="getExcelByDay()" type="button"
													class="btn bg-purple">所有停车场</button>
											</div>
										</div>

										<div class="row" style="padding-top: 25px">

											<div class="col-md-1">
												<label class="label-control"
													style="float: right; padding-top: 10px"> 时间段:</label>
											</div>
											<div class="col-md-3">
												<input type="text" id="date2" ng-model="startDate"
													class="form-control date">
											</div>

											<div class="col-md-3">
												<input type="text" id="date3" ng-model="endDate"
													class="form-control date">
											</div>
											<div class="col-md-3">
												<select id="park-select2" class="form-control"
													style="font-weight: bold"> #foreach( $park in
													$parks)
													<option value=$park.id>$park.name</option> #end
												</select>
											</div>
											<div class="col-md-2">
												<button id="excelBtn" ng-click="getExcelByParkAndDayRange()"
													type="button" class="btn btn-info">导出</button>
											</div>
											<div class="col-md-1" hidden>
												<button type="button" class="btn btn-info"
													ng-click="getExcelByDayRange()" style="float: left">
													所有停车场</button>
											</div>

										</div>
										<div class="row" style="padding-top: 25px">

											<div class="col-md-1" style="padding-right: 0">
												<label class="label-control"> 违规停车:</label>
											</div>
											<!-- div class="col-md-2">
												<input type="text" id="date" ng-model="startDate2"
													class="form-control date">
											</div>

											<div class="col-md-2">
												<input type="text" id="date" ng-model="endDate2"
													class="form-control date">
											</div> -->
											
											<div class="col-md-2">
		                                        <input type="text" id="date4" ng-model="startDate22" class="form-control date">
		                                    </div>

		                                    <div class="col-md-2">
		                                        <input type="text" id="date5" ng-model="endDate22" class="form-control date">
		                                    </div>
											<div class="col-md-2">
												<select id="park-select3" class="form-control" style="font-size:10px;padding:5px;"
													style="font-weight: bold"> #foreach( $park in
													$parks)
													<option value=$park.id>$park.name</option> #end
												</select>
											</div>
											<div class="col-md-2">
												<select id="park-select4" class="form-control" style="font-size:10px;padding:5px;"
													style="font-weight: bold">
													<!-- #foreach( $monthUser in $monthUsers)
													<option value=$monthUser.type>$monthUser.type</option> #end -->
													<option value=0>包月用户</option>
													<option value=1>预约</option>
													<option value=2>月卡A1</option>
													<option value=3>月卡A2</option>
													<option value=4>月卡B</option>
													<option value=5>月卡D</option>
													<option value=6>月卡E</option>
												</select>
												</div>
										
											<!-- <div class="col-md-2">
												<input type='text' class='form-control text' ng-model="type" >
											</div> -->

											<div class="col-md-2">
												<input type='text' class='form-control text' ng-model="count" placeholder='停车次数'>
											</div>

											<div class="col-md-1">
												<button id="excelBtn" ng-click="getExcelByParkIllegalparking()"
													type="button" class="btn btn-info">导出</button>
											</div>
											<!-- <div class="col-md-1" hidden>
												<button type="button" class="btn btn-info"
													ng-click="getExcelByDayRange()" style="float: left">
													所有停车场</button>
											</div> -->

										</div>
									</div>
								</div>

								<div class="pull-right">
									<select style="display: none" id="get_Park"
										class="form-control"
										style="padding:1px;font-size:14px;height:35px" id="searchPark">
										#foreach( $park in $parks)
										<option value=$park.id>$park.name</option> #end
									</select> <select class="form-control"
										style="padding: 1px; font-size: 14px; height: 35px"
										ng-options="park1.name for park1 in selectParks"
										ng-model="selectedPark"> #if($isAdmin)
										<option value=-1>所有停车场</option>#end
									</select>
								</div>

								<br /> <br />
								<div>
									<table class="table table-hover  table-condensed"
										id='channelTable' style="font-size: 12px">
										<tr>
											<th><span style=""><input type="checkbox" /></th>
											<th><span>id</span></th>
											<th><span>车牌</span></th>
											<th><span>停车场名</span></th>
											<!-- <th><span>车位号</span></th>
                                            <th><span>操作员id</span></th> -->
											<th><span>收费状态</span></th>
											<!-- <th><span>实收</span></th> -->
											<th><span>金额</span></th>
											<!-- <th><span>补交</span></th>
                                            <th><span>找零</span></th>	 -->
											<th><span>进场时间</span></th>
											<th><span>离场时间</span></th>
											<th><span>停车时长</span></th>
											<th><span>缴费渠道</span></th>
											<!-- <th><span>查看图片</span></th> -->
										</tr>
										<tbody id="channelBody"></tbody>
										<tr ng-repeat="item in detail.items">
											<td><input type="checkbox" ng-model="item.checked" /></td>
											<td ng-bind="item.id"></td>
											<td ng-bind="item.cardNumber"></td>
											<td ng-bind="item.parkDesc"></td>
											<!-- <td ng-bind="item.portNumber"></td>
                                            <td ng-bind="item.operatorId"></td> -->
											<td ng-if="item.paidCompleted==true" class="success">已出场</td>
											<td ng-if="item.paidCompleted==false" class="warning">未出场</td>
											<!-- <td ng-bind="item.paidMoney"></td> -->
											<td ng-bind="item.chargeMoney"></td>
											<!-- <td ng-bind="item.givenMoney"></td>
                                            <td ng-bind="item.changeMoney"></td> -->
											<td ng-bind="item.entranceDate"></td>
											<td ng-bind="item.exitDate"></td>
											<td ng-bind="item.range"></td>
											<td ng-if="item.paidCompleted==false">无</td>
											<td ng-if="item.paidCompleted==true&&item.payType==0">支付宝</td>
											<td ng-if="item.paidCompleted==true&&item.payType==1">微信</td>
											<td ng-if="item.paidCompleted==true&&item.payType==2">现金</td>
											<td ng-if="item.paidCompleted==true&&item.payType==9">道闸</td>
											<!-- <td ng-if="item.url!=''"><a href={{item.url}} target="_blank">查看
                                            </a></td>
                                            <td ng-if="item.url==''">暂无</td> -->
									</table>
								</div>
								<tm-pagination conf="paginationConf"></tm-pagination>

							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>

	<script type="text/ng-template" id="myModalTest">
        <!-- 模态框（Modal） -->
        <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
        <button type="button" class="close"
        data-dismiss="modal" aria-hidden="true" ng-click="texta()">
        &times;
        </button>
        <h4 class="modal-title" >  yyy
        </h4>
        </div>
        <div class="modal-body">
        {{textaaa}}
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="close()">
        关闭
        </button>
        </div>
        </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </script>
</div>
