<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<title></title>
<link href="css/style.css" rel="stylesheet" type="text/css" />
<script src="js/jquery-1.7.2.min.js"></script>
</head>

<body>
<div class="top mg2">
	<div class="topl f"><a href="#"><img align="absmiddle" src="images/index_1_01.png" /></a></div>
	<div class="topc f cen xi13">
		<ul>
			<li class="bg1"><a href="index">概况</a></li>
			<div class="topcbar f"><img align="absmiddle" src="images/index_07.jpg" /></div>
			<li class="bg2"><a href="visualization">可视化</a></li>
			<div class="topcbar f"><img align="absmiddle" src="images/index_07.jpg" /></div>
			<li class="bg3"><a href="report">报表</a></li>
			<div class="topcbar f"><img align="absmiddle" src="images/index_07.jpg" /></div>
			<li class="bg4"><a href="trade">交易</a></li>
			<div class="topcbar f"><img align="absmiddle" src="images/index_07.jpg" /></div>
			<li class="bg5"><a href="operation">运维</a></li>
			<div class="topcbar f"><img align="absmiddle" src="images/index_07.jpg" /></div>
			<li class="bg6"><a href="service">服务</a></li>
			<div class="topcbar f"><img align="absmiddle" src="images/index_07.jpg" /></div>
			<li class="bg1hover topchover"><a href="set">设置</a></li>
		</ul>
	</div>
	<div class="topr r xi13">
		<ul>
			<li><a href="#">欢迎您</a></li>
			<li><a href="#"><img align="absmiddle" src="images/index_26.png" /></a></li>
			<li><a href="#"><img align="absmiddle" src="images/index_28.png" /></a></li>
			<li><a href="/parkinfo/login"><img align="absmiddle" src="images/index_30.png" /></a></li>
		</ul>
	</div>
</div>
<div class="con mg2">
	<div class="conl">
		<div class="conls mg2">
			<span class="conlsr1 r"><img align="absmiddle" src="images/user_list_23.png" /></span>
			<span class="conlsr2 r"><img align="absmiddle" src="images/user_list_23.png" /></span>
		</div>
		<div id="menu_zzjs_net" class="sdmenu">
			<div>
				<span>人员管理</span>
				<a href="set">巡检员</a>
				<a href="set">收费员</a>
			</div>
			<div>
				<span>路边停车场管理</span>
				<a href="set/zoneCenter">区中心</a>
				<a href="set/area">经营区域</a>
				<a href="set/street">路段街道</a>
				<a href="set/park">收费站点</a>
				<a href="set/feeCriterion">收费标准</a>
				
			</div>
			
			<div>
				<span>设备管理</span>
				<a href="set/device">收费终端</a>
				<a href="set/device">巡检终端</a>
				<a href="set/device">网关</a>
				<a href="set/device">地磁</a>
				<a href="set/device">诱导屏</a>
			</div>
			<div>
				<span>系统管理</span>
				<a href="#">系统日志</a>
			</div>
			<script type="text/javascript">
			// <![CDATA[
			var myMenu;
			window.onload = function() {
				myMenu = new SDMenu("menu_zzjs_net");
				myMenu.init();
			var firstSubmenu = myMenu.submenus[0]; //不同栏目首页是0以此类推
			myMenu.expandMenu(firstSubmenu);
			};
			// ]]>
			</script>
		</div>
	</div>
	<div class="conr">
		<div class="user_lists mg2">
			<div class="user_listss mg2">
				<ul>
					<li class="user_listss1 you">登录账号：</li>
					<li><input name="" type="text" class="bd1 f"></li>
					<li class="user_listss1 you">真实姓名：</li>
					<li><input name="" type="text" class="bd1 f"></li>
					<li class="user_listss1 you">所在部门：</li>
					<li><select name="" class="bd1_1 f">
		  <option value="--自定--">--自定--</option>
		  <option value="自定">自定</option>
		  <option value="自定">自定</option>
		</select></li>
				</ul>
			</div>
			<div class="user_listss mg2">
				<ul>
					<li class="user_listss1 you">人员状态：</li>
					<li><select name="" class="bd1_1 f">
		  <option value="--自定--">--自定--</option>
		  <option value="自定">自定</option>
		  <option value="自定">自定</option>
		</select></li>
					<li class="user_listss1 you">所在职位：</li>
					<li><select name="" class="bd1_1 f">
		  <option value="--自定--">--自定--</option>
		  <option value="自定">自定</option>
		  <option value="自定">自定</option>
		</select></li>
					<li class="user_listss1 you">人员类别：</li>
					<li><select name="" class="bd1_1 f">
		  <option value="--自定--">--自定--</option>
		  <option value="自定">自定</option>
		  <option value="自定">自定</option>
		</select></li>
					<li><input name="" type="button" class="an1 f xi14 bai" value="查询"></li>
					<li><input name="" type="button" class="an2 f xi14 bai" value="添加"></li>
				</ul>
			</div>
		</div>
		<div class="user_listc mg2">
			<table width="100%" border="1" cellpadding="0" cellspacing="0" bordercolor="#e4e4e4" class="tab1">
			  <tr class="bghui cu">
				<td>登录账号</td>
				<td>真实姓名</td>
				<td>人员所在部门</td>
				<td>人员所在职位</td>
				<td class="cen">手机号</td>
				<td>员工卡号</td>
				<td class="cen">收费管理员</td>
				<td class="cen">人员状态</td>
				<td>操作</td>
			  </tr>
			  <tr>
				<td>18683292268</td>
				<td>王子文</td>
				<td>停车办</td>
				<td>巡检员</td>
				<td class="cen">18683292268</td>
				<td>18683292268</td>
				<td class="cen">是</td>
				<td class="cen">在线</td>
				<td>在线查岗</td>
			  </tr>
			  <tr>
				<td>17761747990</td>
				<td>王中华</td>
				<td>秦淮区街道</td>
				<td>收费员</td>
				<td class="cen">18683292268</td>
				<td>18683292268</td>
				<td class="cen">否</td>
				<td class="cen">在线</td>
				<td>在线查岗</td>
			  </tr>
			  <tr>
				<td>13561747954</td>
				<td>王中华</td>
				<td>雨花区街道</td>
				<td>收费员</td>
				<td class="cen">13561747954</td>
				<td>13561747954</td>
				<td class="cen">否</td>
				<td class="cen">在线</td>
				<td>在线查岗</td>
			  </tr>
			  <tr>
				<td>18683292268</td>
				<td>王子文</td>
				<td>停车办</td>
				<td>巡检员</td>
				<td class="cen">18683292268</td>
				<td>18683292268</td>
				<td class="cen">否</td>
				<td class="cen">在线</td>
				<td>在线查岗</td>
			  </tr>
			  <tr>
				<td>18683292268</td>
				<td>王子文</td>
				<td>停车办</td>
				<td>巡检员</td>
				<td class="cen">18683292268</td>
				<td>18683292268</td>
				<td class="cen">否</td>
				<td class="cen">在线</td>
				<td>在线查岗</td>
			  </tr>
			</table>
		</div>
		<div class="user_listx mg2">
			<div class="user_listxl f">总记录数：<span class="lan">736</span></div>
			<div class="user_listxl f">当前页：<span class="lan">1</span> / <span class="lan">74</span></div>
			<div class="user_listxr1 r"><select name="" class="bd1_2 f">
		  <option value="10">10</option>
		  <option value="10">10</option>
		  <option value="10">10</option>
		</select></div>
			<div class="user_listxr2 r">每页行数：</div>
			<div class="user_listxc r">
				<div class="fy mg2">
					<a href="#">上一页</a>
					<span>1</span>
					<a href="#">2</a>
					<a href="#">3</a>
					<a href="#">4</a>
					...
					<a href="#">5</a>
					<a href="#">6</a>
					<a href="#">下一页</a>
					<a href="#">尾页</a>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="js/js.js"></script>
</body>
</html>
