<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<title></title>
<link href="css/style.css" rel="stylesheet" type="text/css" />
<script src="js/jquery-1.7.2.min.js"></script>
</head>

<body>
<div class="top mg2">
	<div class="topl f"><a href="#"><img align="absmiddle" src="images/index_1_01.png" /></a></div>
	<div class="topc f cen xi13">
		<ul>
			<li class="bg1"><a href="index">概况</a></li>
			<div class="topcbar f"><img align="absmiddle" src="images/index_07.jpg" /></div>
			<li class="bg2"><a href="visualization">可视化</a></li>
			<div class="topcbar f"><img align="absmiddle" src="images/index_07.jpg" /></div>
			<li class="bg3"><a href="report">报表</a></li>
			<div class="topcbar f"><img align="absmiddle" src="images/index_07.jpg" /></div>
			<li class="bg1hover topchover"><a href="trade">交易</a></li>
			<div class="topcbar f"><img align="absmiddle" src="images/index_07.jpg" /></div>
			<li class="bg5"><a href="operation">运维</a></li>
			<div class="topcbar f"><img align="absmiddle" src="images/index_07.jpg" /></div>
			<li class="bg6"><a href="service">服务</a></li>
			<div class="topcbar f"><img align="absmiddle" src="images/index_07.jpg" /></div>
			<li class="bg7"><a href="set">设置</a></li>
		</ul>
	</div>
	<div class="topr r xi13">
		<ul>
			<li><a href="#">欢迎您</a></li>
			<li><a href="#"><img align="absmiddle" src="images/index_26.png" /></a></li>
			<li><a href="#"><img align="absmiddle" src="images/index_28.png" /></a></li>
			<li><a href="/parkinfo/login"><img align="absmiddle" src="images/index_30.png" /></a></li>
		</ul>
	</div>
</div>
<div class="con mg2">
	<div class="conl">
		<div class="conls mg2">
			<span class="conlsr1 r"><img align="absmiddle" src="images/user_list_23.png" /></span>
			<span class="conlsr2 r"><img align="absmiddle" src="images/user_list_23.png" /></span>
		</div>
		<div id="menu_zzjs_net" class="sdmenu">
			<div>
				<span>订单管理</span>
				<a href="#">交易订单</a>
				<a href="#">欠费订单</a>
			</div>
			<script type="text/javascript">
			// <![CDATA[
			var myMenu;
			window.onload = function() {
				myMenu = new SDMenu("menu_zzjs_net");
				myMenu.init();
			var firstSubmenu = myMenu.submenus[0]; //不同栏目首页是0以此类推
			myMenu.expandMenu(firstSubmenu);
			};
			// ]]>
			</script>
		</div>
	</div>
	<div class="conr">
		<div class="user_lists mg2">
			<div class="user_listss mg2">
				<ul>
					<li class="user_listss1 you">生成日期：</li>
					<li><input name="" type="text" class="bd1 f"></li>
					<li class="user_listss2">~</li>
					<li><input name="" type="text" class="bd1 f"></li>
				</ul>
			</div>
			<div class="list0 mg2">
				<div class="user_listss mg2">
					<ul>
						<li class="user_listss1 you">订单状态：</li>
						<li><select name="" class="bd1_1 f">
			  <option value="--自定--">--自定--</option>
			  <option value="自定">自定</option>
			  <option value="自定">自定</option>
			</select></li>
						<li class="user_listss1 you">申请方式：</li>
						<li><select name="" class="bd1_1 f">
			  <option value="--自定--">--自定--</option>
			  <option value="自定">自定</option>
			  <option value="自定">自定</option>
			</select></li>
					</ul>
				</div>
				<div class="user_listss mg2">
					<ul>
						<li class="user_listss1 you">行政区：</li>
						<li><select name="" class="bd1_1 f">
			  <option value="--自定--">--自定--</option>
			  <option value="自定">自定</option>
			  <option value="自定">自定</option>
			</select></li>
						<li class="user_listss1 you">片区：</li>
						<li><select name="" class="bd1_1 f">
			  <option value="--自定--">--自定--</option>
			  <option value="自定">自定</option>
			  <option value="自定">自定</option>
			</select></li>
						<li class="user_listss1 you">路段：</li>
						<li><select name="" class="bd1_1 f">
			  <option value="--自定--">--自定--</option>
			  <option value="自定">自定</option>
			  <option value="自定">自定</option>
			</select></li>
					</ul>
				</div>
			</div>
			<div class="user_listss mg2">
				<ul>
					<li class="user_listss1 you">手机号：</li>
					<li><input name="" type="text" class="bd1 f"></li>
					<li class="user_listss1 you">泊位号：</li>
					<li><input name="" type="text" class="bd1 f"></li>
					<li class="user_listss1 you">车牌号码：</li>
					<li><input name="" type="text" class="bd1 f"></li>
					<li><input name="" type="button" class="an1 f xi14 bai" value="查询"></li>
				</ul>
			</div>
			<div class="listmoreshow xi13">显示更多</div>
			<div class="listmorehide xi13">收起查询</div>
		</div>
		<div class="user_listc mg2">
			<table width="100%" border="1" cellpadding="0" cellspacing="0" bordercolor="#e4e4e4" class="tab1">
			  <tr class="bghui cu">
				<td class="cen">手机号码</td>
				<td class="cen">车牌号</td>
				<td class="cen">泊位号</td>
				<td>收费站点</td>
				<td>路段</td>
				<td>区域</td>
				<td class="cen">计费时长(分钟)</td>
				<td class="cen">消费金额(元)</td>
				<td class="cen">订单状态</td>
				<td>支付方式</td>
				<td class="cen">订单生成时间</td>
				<td>争议与否</td>
			  </tr>
			  <tr>
				<td class="cen">13678094043</td>
				<td class="cen">苏A89382</td>
				<td class="cen">21</td>
				<td>郁金香1点</td>
				<td>郁金香路</td>
				<td>雨花台区</td>
				<td class="cen">30</td>
				<td class="cen">0.5</td>
				<td class="cen">完成</td>
				<td>现金支付</td>
				<td class="cen">2016-09-12 18:09:43</td>
				<td>无</td>
			  </tr>
			  <tr>
				<td class="cen">18683292287</td>
				<td class="cen">苏ATP060</td>
				<td class="cen">21</td>
				<td>马道街1点</td>
				<td>马道街</td>
				<td>秦淮区</td>
				<td class="cen">60</td>
				<td class="cen">16</td>
				<td class="cen">完成</td>
				<td>微信支付</td>
				<td class="cen">2016-10-12 9:18:27</td>
				<td>无</td>
			  </tr>
			  <tr>
				<td class="cen">17761747890</td>
				<td class="cen">苏AT2872</td>
				<td class="cen">21</td>
				<td>马道街1点</td>
				<td>马道街</td>
				<td>秦淮区</td>
				<td class="cen">60</td>
				<td class="cen">16</td>
				<td class="cen">完成</td>
				<td>支付宝支付</td>
				<td class="cen">2016-10-18 10:18:27</td>
				<td>无</td>
			  </tr>
			  <tr>
				<td class="cen">17768767892</td>
				<td class="cen">苏A20982</td>
				<td class="cen">21</td>
				<td>清凉门1点</td>
				<td>清凉门</td>
				<td>秦淮区</td>
				<td class="cen">80</td>
				<td class="cen">21</td>
				<td class="cen">欠费</td>
				<td>未支付</td>
				<td class="cen">2016-10-18 10:18:27</td>
				<td>有</td>
			  </tr>
			  <tr>
				<td class="cen">17798767832</td>
				<td class="cen">苏A20982</td>
				<td class="cen">21</td>
				<td>马道街3点</td>
				<td>马道街</td>
				<td>秦淮区</td>
				<td class="cen">70</td>
				<td class="cen">11</td>
				<td class="cen">欠费</td>
				<td>未支付</td>
				<td class="cen">2016-10-18 10:18:27</td>
				<td>有</td>
			  </tr>
			  <tr>
				<td class="cen">17098767890</td>
				<td class="cen">苏A20982</td>
				<td class="cen">21</td>
				<td>清凉门1点</td>
				<td>清凉门</td>
				<td>秦淮区</td>
				<td class="cen">30</td>
				<td class="cen">9</td>
				<td class="cen">欠费</td>
				<td>未支付</td>
				<td class="cen">2016-10-18 10:18:27</td>
				<td>有</td>
			  </tr>
			  <tr>
				<td class="cen">17789652340</td>
				<td class="cen">苏A76390</td>
				<td class="cen">21</td>
				<td>清凉门1点</td>
				<td>清凉门</td>
				<td>秦淮区</td>
				<td class="cen">80</td>
				<td class="cen">21</td>
				<td class="cen">完成</td>
				<td>现金支付</td>
				<td class="cen">2016-10-18 10:18:27</td>
				<td>无</td>
			  </tr>
			  <tr>
				<td class="cen">17098760987</td>
				<td class="cen">苏A86483</td>
				<td class="cen">21</td>
				<td>卡子门2点</td>
				<td>卡子门</td>
				<td>雨花台区</td>
				<td class="cen">40</td>
				<td class="cen">5</td>
				<td class="cen">欠费</td>
				<td>未支付</td>
				<td class="cen">2016-10-18 10:18:27</td>
				<td>有</td>
			  </tr>
			</table>
		</div>
		<div class="user_listx mg2">
			<div class="user_listxl f">总记录数：<span class="lan">736</span></div>
			<div class="user_listxl f">当前页：<span class="lan">1</span> / <span class="lan">74</span></div>
			<div class="user_listxr1 r"><select name="" class="bd1_2 f">
		  <option value="10">10</option>
		  <option value="10">10</option>
		  <option value="10">10</option>
		</select></div>
			<div class="user_listxr2 r">每页行数：</div>
			<div class="user_listxc r">
				<div class="fy mg2">
					<a href="#">上一页</a>
					<span>1</span>
					<a href="#">2</a>
					<a href="#">3</a>
					<a href="#">4</a>
					...
					<a href="#">5</a>
					<a href="#">6</a>
					<a href="#">下一页</a>
					<a href="#">尾页</a>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="js/js1.js"></script>
</body>
</html>
